# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
build/
dist/
*.egg-info/

# Project Specifics
logs/*.log
reports/Security_Report_*.md

# IDEs
.vscode/
.idea/
*.swp

# OS
Thumbs.db
Desktop.ini
